.item {
    display: inline-block;
}

.nav {
    padding: 10px;
}

.link {
    color: inherit;
    padding: 20px;
    display: block;
}

.xunchalouceng {
    width: auto;
    float: left;
    margin: 10px 5px 0 0;
    font-size: 15px;
}

.xuncha-wrap {
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    padding: 0 10px;
    line-height: 25px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.xuncha-status {
    color: green;
    float: left;
    width: 100px;
    text-align: left;
}