.item {
    display: inline-block;
}

.nav {
    padding: 10px;
}

.link {
    color: inherit;
    padding: 20px;
    display: block;
}

.xunchalouceng {
    width: auto;
    float: left;
    margin: 10px 5px 0 0;
    font-size: 15px;
}

.xuncha-wrap {
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    padding: 0 10px;
    line-height: 25px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #ffffff;
}

.xuncha-status {
    color: green;
    float: left;
    width: 100px;
    text-align: left;
}

.nav {
    padding: 10px;
}

.link {
    color: inherit;
    padding: 20px;
    display: block;
}

.xuncha-table-views {
    width: 100%;
    background-color: #fff;
    display: block;
    margin: 0;
    padding: 0 10px;
    list-style: none;
    .xuncha-table-cell:last-child {
        border-bottom: none;
    }
    .xuncha-table-cell {
        width: 100%;
        padding: 0;
        margin: 0;
        height: 45px;
        border-bottom: 1px solid #ccc;
        i {
            display: block;
            font-size: 24px;
            margin: 10px 0 0 10px;
            float: left;
        }
        .item {
            float: left;
            height: 45px;
            line-height: 45px;
            margin: 0 0 0 10px;
            min-width: 200px;
        }
    }
}

.green {
    color: #259b24;
}

.red {
    color: #f44336
}

.xuncha-title {
    width: 100%;
    background-color: #ccc;
    color: #fff;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}

.xcop-table-views {
    width: 100%;
    list-style: none;
    padding: 0 15px;
    margin: 15px 0 0 0;
    box-sizing: border-box;
    .xcop-table-cell {
        width: 100%;
        min-height: 45px;
        border: 1px solid #ccc;
        border-radius: 3px;
        background-color: #ffffff;
        margin-bottom: 10px;
        .xcop-wrap {
            height: 45px;
            .xcop-input {
                border: 1px solid #ccc;
                width: 68px;
                float: left;
                border-radius: 3px;
                height: 30px;
                margin: 6px 0 0 10px;
                padding-left: 4px;
                font-size: 14px;
            }
            .xc-switch {
                margin: 5px 0 0 10px;
                width: auto;
                float: left;
            }
            .xcop-icon {
                margin: -34px 15px 0 0;
                float: right;
                font-size: 20px;
            }
            .item {
                display: block;
                width: 150px;
                text-align: center;
                margin: 0 auto;
                height: 45px;
                line-height: 45px;
            }
        }
        .xcop-item {
            width: 100%;
            border-top: 1px solid #ccc;
            padding: 10px;
            box-sizing: border-box;
        }
    }
}

.hd-upload {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;
    display: block;
    .hd-upload-cell {
        width: 33%;
        height: 33vw;
        display: inline-block;
        box-sizing: border-box;
        padding: 5px;
        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
}