.patrol-qiandao {
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    height: 125px;
    padding-top: 10px;
    .qiandao-icon {
        width: 100%;
        margin: 0 auto;
        font-size: 14px;
        padding: 0 15px;
        i {
            font-size: 14px;
            margin-right: 6px;
            color: #30a4ff;
        }
    }
    .photo-table-view {
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        .photo-table-cell {
            width: 25%;
            height: 25vw;
            display: inline-block;
            img {
                width: 80%;
                height: 80%;
                display: block;
                margin: 10% 10%;
            }
        }
    }
}