body{
    margin: 0;
}

a, a:hover, a:active, a:visited{
    color: #333333;
    text-decoration: none;
}

.page-wrap {
    width: 100%;
    overflow: auto;
    height: 100%;
    padding-bottom: 100px;
    margin-top: 42px;
}